body {
  background-color: aquamarine;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  background-color: blueviolet;
  margin: 0;
  padding: 7% 0% 2% 0%;
  text-align: center;
  font-size: 300%;
  color: rgb(98, 233, 204); 
}
h2 {
  background-color: rgb(243, 181, 235);
  text-align: center;
  padding: 20px 0 20px 0;
  width: 200px;
  transition: 4s;
  border: 7px solid black;
  margin-bottom: -40px;
  margin-left: 50px;
  position: relative;
  z-index: 2;
  border-radius: 50%;
}
h2:hover{
  width: 250px;
  box-shadow: rgba(173, 252, 225, .4) 20px 20px 15px;
}
p {
  background-color: blueviolet;
  margin: 10px;
  padding: 30px;
  border-radius: 20%;
  border: 7px solid rgb(102, 100, 237);
  color:rgb(245, 231, 236);
}
a {
  color: rgb(156, 202, 240);
}
a:hover {
  color: aqua;
  font-size: 105%;
}
#footer {
  bottom: 0;
  position: absolute;
  background-color: rgb(190, 64, 221);
  border-radius: 20%;
  padding: 15px 10px 10px 5px;
  font-size: 80%;
  text-align: right;
  border: none;
  box-shadow: rgb(190, 64, 221) 0px 0px 50px 70px;
  z-index: -1;
}
