body {
  background-color: aquamarine;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  background-color: blueviolet;
  margin: 0;
  padding: 7% 0% 2% 0%;
  text-align: center;
  font-size: 400%;
  color: rgb(208, 247, 239);
}
h2 {
  background-color: rgb(243, 181, 235);
  color: black;
  text-align: center;
  padding: 20px 0 20px 0;
  width: 200px;
  transition: 4s;
  border: 7px solid black;
  margin-bottom: -40px;
  margin-left: 50px;
  position: relative;
  z-index: 2;
  border-radius: 50%;
}
h3 {
  background-color: rgb(243, 181, 235);
  text-align: center;
  padding: 20px 0 20px 0;
  width: 200px;
  transition: 4s;
  border: 7px solid black;
  margin-bottom: -40px;
  margin-left: 0px;
  position: relative;
  z-index: 2;
  border-radius: 50%;
}
h2:hover, h3:hover {
  width: 250px;
  box-shadow: rgba(173, 252, 225, .4) 20px 20px 15px;
}
p {
  background-color: rgb(33, 6, 59);
  margin: 10px 40px 10px 40px;
  padding: 30px;
  border-radius: 20%;
  border: 7px solid blueviolet;
  color:rgb(245, 231, 236);
}
ol, ul {
  background-color: rgb(33, 6, 59);
  margin: 10px;
  width: 150px;
  padding:  30px 60px 30px 60px;
  border-radius: 20%;
  border: 7px solid blueviolet;
  color:rgb(245, 231, 236);
  margin-left: 40px;
  margin-right: 40px;
  z-index: 1;
}
#work {
  width: 200px;
}
#container {
  display: flex;
  width: 100%;
  justify-content: center;
}
a {
  color: rgb(156, 202, 240);
}
a:hover {
  color: aqua;
  font-size: 105%;
}
#footer {
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  right: 0;
  left: 0;
  position: relative;
  width: 50%;
  background-color: rgb(218, 130, 240);
  border-radius: 20%;
  padding: 15px 10px 10px 5px;
  font-size: 80%;
  text-align: center;
  border: none;
  box-shadow: rgb(218, 130, 240) 0px 0px 50px 70px;
  z-index: 0;
  color:rgb(17, 3, 60);
}
a[href*="https://github.com/jswill88"] {
  color: rgb(17, 3, 60);
}
a:hover[href*="https://github.com/jswill88"] {
  color: rgb(64, 46, 117);
}


